<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!--开启自动代理-->
	<aop:aspectj-autoproxy/>

	<!--配置目标对象-->
	<bean id="customerDao" class="com.itheima.demo1.CustomerDaoImpl" />

	<!--配置切面类-->
	<bean id="myAspectAnno" class="com.itheima.demo1.MyAspectAnno" />

	<!--使用注解代替-->
	<!--<aop:config>
		<aop:aspect ref="myAspectAnno">
			<aop:after method="log" pointcut=""/>
		</aop:aspect>
	</aop:config>-->

	<!--配置内置连接池-->
	<!--<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="jdbc:mysql:///spring_day03"/>
		<property name="username" value="root"/>
		<property name="password" value="1234"/>
	</bean>-->

    <!--配置DBCP连接池-->
   <!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql:///spring_day03"/>
        <property name="username" value="root"/>
        <property name="password" value="1234"/>
    </bean>
-->

    <!--配置c3p0连接池-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql:///spring_day03"/>
        <property name="user" value="root"/>
        <property name="password" value="1234"/>
    </bean>

    <!--配置平台事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--开启事务的注解-->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!--手动编码，提供了模版类，使用该类管理事务比较简单-->
    <!--<bean id="transactionTemplate" class="org.springframework.transaction.support.TransactionTemplate">
        <property name="transactionManager" ref="transactionManager"/>
    </bean>-->

    <!--声明式事务（采用xml配置文件的方式）-->
    <!--先配置通知-->
    <!--<tx:advice id="myAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="pay" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>-->

    <!--配置AOP,如果使用的是自己编写的AOP，使用aop:aspect配置；使用spring框架提供的aop,使用aop:advisor配置-->
    <!--<aop:config>
        <aop:advisor advice-ref="myAdvice" pointcut="execution(public * com.itheima.demo4.AccountServiceImpl.pay(..))"/>
    </aop:config>-->



	
	<!--配置JDBC模版类-->
    <!--<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    -->

    <!--配置业务层和持久层-->
    <bean id="accountService" class="com.itheima.demo5.AccountServiceImpl">
        <!--依赖注入service注入dao-->
        <property name="accountDao" ref="accountDao"/>
        <!--<property name="transactionTemplate" ref="transactionTemplate"/>-->

    </bean>

    <bean id="accountDao" class="com.itheima.demo5.AccountDaoImpl">
        <!--依赖注入service注入dao-->
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>












