<!DOCTYPE html>
<html>
<head>
    <title>用户行为</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/vue-beauty.min.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/vue-beauty.min.js"></script>
</head>

<body style="background:#343F4F url('/static/images/login_bg.png');background-size:cover;">
<div class="container-full">

    <div class="row">
        <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2 col-xs-offset-4 col-sm-offset-5 col-md-offset-5 col-lg-offset-5"
             style="box-sizing: content-box;">
            <div class="row" style="height: 23vh">

            </div>
            <div class="row" style="height: 43vh">
                <p style="text-align: center;height: 20vh;margin-bottom: 4vh;">
                    <img src="/static/images/login_logo.gif" alt="logo">
                </p>

                <v-form direction="vertical" id="login" action="/login/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <v-form-item>
                            <input class="login_input form-control" type="text" placeholder="用户名" size="large"
                                   name="username">
                            <v-icon type="user" slot="before"></v-icon>
                            </input>
                        </v-form-item>
                        <v-form-item>
                            <input class="login_input form-control" type="password" placeholder="密码" size="large"
                                   name="password" style="width: 100%">
                            <v-icon type="lock" slot="before"></v-icon>
                            </input>
                            <v-checkbox style="margin: 0px;padding: 0;color: white;min-width:130px;">保持登录状态</v-checkbox>
                        </v-form-item>

                        <v-form-item style="margin-top:24px">
                            <div>
                                <div style="float:left;position:relative;min-width: 130px;">
                                    <p style="float:left;position:relative;right:0;z-index:1; padding-left: 2px;padding-right: 2px;margin-top: -24px;color: #fa7248;">{{ login_feedback }}</p>

                                </div>

                                <v-button id="login_button" type="primary" html-type="submit" size="large">登录</v-button>
                            </div>

                        </v-form-item>
                    </div>

                </v-form>


            </div>
            <div class="row" style="height: 23vh">

            </div>
        </div>
    </div>
</div>

</body>

<script>
    var app = new Vue({
        el: '#login',
    })
</script>
</html>

